a {
  text-decoration: none;
}
.start {
  width: 50%;
  height: 50px;
  margin: 50px auto;
}
.hello-user {
  width: 400px;
  height: 150px;
  margin: 50vh auto;
}
form {
  margin: 0 auto;
}
p {
  font-size: 18px;
  font-weight: 600;
}
.reg-wrapper {
  width: 300px;
  height: 500px;
  margin: 100px auto 0;
  text-align: center;
}
.login-wrapper {
  width: 300px;
  height: 500px;
  margin: 100px auto 0;
  text-align: center;
}
.entrance {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
.showError {
  width: 300px;
  margin: 20px auto;
  color: red;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
.showReg {
  width: 300px;
  margin: 20px auto;
  color: green;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
